[Unit]
Description=Bootc automatic upgrade
Documentation=man:bootc(8)
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/bootc-upgrade
